button {
  background-color: black;
  color: white;
  margin-left: 130px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.level-container {
  border: 2px solid;
  margin-bottom: 1rem;
  padding: 1rem;
}
